* { 
    margin: 0;
    padding: 0;
}


html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 10px;
    font-family: 'Roboto';
    background-color: rgb(241, 230, 230);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 48px;
}


main h1 {
    color: rgb(150 20 20);
    font-size: 20pt;
    margin: 24px 0;
}


form {
    background-color: rgb(255, 238, 238);
    border-radius: 2px;
    box-shadow: 0 4px 16px 0 rgba(75, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 22px;
    width: 380px;
}


.form-group {
    display: flex;
    flex-direction: column;
}


.form-group label {
    font-size: 12pt;
    color: rgb(120, 10, 10);
    text-align: left;
    padding: 8px;

}


.form-group input {
    background-color: rgb(255, 248, 248);
    color: rgb(120, 10, 10);
    border: 2px solid rgba(248, 100, 100, 0.500);
    border-radius: 2px;
    font-family: 'Roboto';
    font-size: 13pt;
    padding: 8px 10px;
    
}


.input {
    margin-bottom: 12px;
}


#entrar {
    background-color: rgb(180 50 50);
    color: white;
    font-size: 14pt;
    border: 0;
    max-width: 100px;
    padding: 8px 16px;
    margin-left: auto;
    cursor: pointer;
}


